{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    {{ form_start(registrationForm) }}
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-4 me-3">RestoRate</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">

                        {{ form_row(registrationForm.firstname) }}

                    </div>
                    <div class="form-outline mb-4">

                        {{ form_row(registrationForm.lastname) }}

                    </div>

                    <div class="form-outline mb-4">

                        {{ form_row(registrationForm.username) }}
                    </div>
                    <div class="form-outline mb-4">

                        {{ form_row(registrationForm.email) }}
                    </div>


                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                    </div>
                    <div class="text-center text-lg-start mb-4 pt-2">
                        {{ form_row(registrationForm.agreeTerms) }}
                        <button type="submit" class="btn btn-success">Register</button>
                        {{ form_end(registrationForm) }}
                        <p class="small fw-bold mt-2 pt-1 mb-0">Already a Client ?<a
                                    href="{{ path('app_login') }}"
                                    class="link-danger">Login</a></p>

                    </div>



                </div>
            </div>
        </div>

    </section>



{% endblock %}
